html
  head
    title Imprint/Privacy Policy {{website.domain}}
    meta(content=('Privacy Policy and Imprint for ' + {{legal.domain}}), name='description')
    style.
      != legal.style

  body
    .topbar
      .homeButton
        | Home
      .logo
        img(src=website.logoPath)
      .heading
        | Imprint / Privacy Policy for {{website.domain}}
    .content
    .footer